<a
    href="{{ url }}"
    class="block rounded-sm border border-slate-800 px-3 py-1.5 no-underline shadow-md transition-colors hover:bg-slate-200 focus:bg-slate-200"
    type="submit"
>
    {{ caption }}
</a>
