{# A card partial #}
{# Render image, title in a consistent way #}

{# see _entries/article/_partials/article-cards.twig for usage example #}

{# @param url string #}
{# @param title string #}
{# @param image Asset #}

{# The whole card is a link... #}
{# We need the block class so that <a> does not behave like an inline element and allows borders and shadows #}
{# Set an arbitrary max width #}
<a class="max-w-[450px] group block border border-slate-300 shadow-md"
   href="{{ url }}">
    {% if image %}
        <div class="overflow-hidden">
            {# scale the image if the card is hovered
            This is achieved by the 'group' class in combination with 'group-hover'
            transition-transform duration-400 animates the scaling in 400 milliseconds #}
            {% include '_partials/img.twig' with {
                image,
                transform: {width: 450, height: 250},
                attr: {class: 'group-hover:scale-105 transition-transform duration-400', loading: 'lazy'}
            } only %}
        </div>
    {% endif %}

    <div class="p-4">
        <div class="text-lg font-bold">
            {{ title }}
        </div>
        {# Let embedding templates insert specific content #}
        {% block content %}
        {% endblock %}
    </div>
</a>