{# The footer section #}
{# @param entry Entry #}

<footer class="mt-8 border-t border-gray-500 max-w-(--breakpoint-lg) mx-auto py-6 px-4 flex justify-between">
    <div>
        &copy; {{ now|date('Y') }} {{ siteSettings.copyright }}
    </div>
    <div>
        {# Display an edit link regardless of permission for now. #}
        {# Can be checked for "currentUser and entry.canSave(currentUser)" #}
        {# However, this won't work for cached pages #}
        <a href="{{ entry.cpEditUrl }}" target="_blank">{{ 'Edit'|t }}</a>
    </div>
</footer>
