{# The footer section #}
{# @param entry Entry #}

<footer
    class="mx-auto mt-8 flex max-w-(--breakpoint-lg) justify-between border-t border-gray-500 px-4 py-6"
>
    <div>
        &copy; {{ now|date('Y') }} {{ siteSettings.copyright }}
    </div>
    <div>
        {# Display an edit link regardless of permission for now. #}
        {# Can be checked for "currentUser and entry.canSave(currentUser)" #}
        {# However, this won't work for cached pages #}
        <a href="{{ entry.cpEditUrl }}" target="_blank">{{ 'Edit'|t }}</a>
    </div>
</footer>
