{# The footer section #}
{# @param entry Entry #}

<footer class="mt-8 border-t border-gray-500 max-w-screen-lg mx-auto py-6 px-4 flex justify-between">
    <div>
        &copy; {{ now|date('Y') }} {{ siteSettings.copyright }}
    </div>
    <div>
        <a href="{{ entry.cpEditUrl }}" target="_blank">{{ 'Edit'|t }}</a>
    </div>
</footer>
