{# Simple previous/next entry navigation #}

{# @param entry Entry #}
{# @param condition Array The condition that determines the next/prev entry #}
{# Default: current section with its default sort order #}

{% set condition = condition ?? { section: entry.section.handle } %}

{% set prev = entry.prev(condition) %}
{% set next = entry.next(condition) %}

{% if prev or next %}
    <div class="mx-auto mt-12 flex max-w-(--breakpoint-lg) justify-between px-4">
        <div>
            {% if prev %}
                &lt; {{ prev.link }}
            {% endif %}
        </div>
        <div>
            {% if next %}
                {{ next.link }} &gt;
            {% endif %}
        </div>
    </div>
{% endif %}
